#modal {
  z-index: 999;
  position: fixed;
  right: 16px;
  bottom: 16px;

  width: 200px;
  height: 300px;

  padding: 16px;

  border-radius: 0.5rem;

  box-shadow: 0px 0px 64px 8px rgba(0,0,0,0.2);

  background-color: white;
}
